.landing-video {
    height: fit-content;
    max-height: 83vh;
    min-height: 0vh;
  }
  
.ratio {
    max-height: 83vh;
}

.about-info {
    min-height: 83vh;
    padding-bottom: 5vh;
}

.info-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.info-photo {
    max-width: 100%;
    height: 83vh;
    object-fit: cover;
}

.info-box {
    padding: 2rem 5rem 2rem 1rem;
}

.img-box {
    padding: 2rem 1rem 2rem 5rem;
}

.body {
    display: flex;
    height: 43vh;
    align-items: flex-end;
}

.title {
    display: flex;
    align-items: flex-end;
}

.big-title {
    font-size: calc(6.875rem + 0.1vw);
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.partnerships {
    display: flex;
    height: 60vh;
    margin-top: 5vh;
    flex-wrap: wrap;
    flex-direction: row;
}

.work-section {  
    padding-top: 12vh;
    min-height: 122vh;
}

.circle-header {
    display: flex;
    justify-content: center;
}

.circle-title {
    font-weight: bold;
}

.circle-holder {
    display: flex;
    height: 58vh;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 60%;
    background-color: white;
    border-radius: 50%;
}

.circle::after, .circle-hidden::after {
    content: "";
    display: block;
}

.circle-hidden::after {
    padding-bottom: 100%;
}

.circle::after {
    padding-bottom: 100%;
}

.circle-hidden {
    position: absolute;
    width: 0%;
    background-color: white;
    border-radius: 50%;
    transition: 1s ease-in-out;
}

.circle-reveal {
    z-index: 3;
    background-color: rgb(0 0 0);
    width: 25%;
    animation: two 2s infinite;
    animation-direction: alternate;;
}

.tap-me {
    z-index: 2;
    position: absolute;
    color: #00f78a;
}

.tap-title {
    font-weight: 700;
    font-size: calc(3.275rem + .3vw);
}

.reveal-text {
    text-align: center;
    z-index: 3;
    display: none;
    position: absolute;
    max-width: 18vw;
}

.hidden-text {
    color: white;
}

.partner-vid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 59vh;
    margin-top: -46vh;
    z-index: -1;
}

.partner-vid video {
    max-width: 100%;
    max-height: inherit;
}

.team {
    margin-top: 5vh;
}

.team-holder {
    padding: 0rem 5rem;
    display: flex;
    min-height: inherit;
    flex-wrap: wrap;
    flex-direction: row;
}

.team-title {
    font-weight: 700;
    font-size: calc(4.275rem + .3vw);
}

.inner-padding {
    padding-right: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-padding .col {
    flex: 0 0 0%;
}

.member-name, .member-title {
    text-transform: capitalize;
}

.member-name {
    font-weight: bold;
    margin-bottom: 0;
}

.member-title {
    margin-bottom: 2vh;
}

.moto {
    margin-bottom: 3vh;
}

.headshot-holder, .headshot-holder-josh {
    height: 40vh;
}

.headshot-holder-josh {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bubble-head, .bubble-head-2 {
    max-width: 100%;
    height: inherit;
}

.see-work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-work img {
    max-width: 100%;
}

.work-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.work-title {
    font-size: calc(2.975rem + 0.1vw);
    font-weight: 700;
}

.work-button::after {
    content: "";
    display: block;
    padding: 50%;  
}

.nav-link {
    color: #00f78a;
}

.nav-link:hover {
    color: #00f78a;
}