/* Global */
.m-5 {
    display: flex;
}

/* Video Holder */

.gorillas {
    margin-bottom: 20vh;
}

.base {
    margin: 23vh 0vh 23vh 0vh;
}

.background {
    background-color: lavenderblush;
    height: 110vh;
    position: absolute;
    z-index: -1;
    margin-top: 9vh;
}

.client-video {
    max-height: 79vh;
    max-width: 100%;
    z-index: 2;
}

.video-holder {
    background-color: lavenderblush;
    display: flex;
    margin-bottom: 2rem;
    padding-left: 3vw;
}

.suns .video-holder {
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 3vw;
}

.copy-holder {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.suns .copy-holder {
    flex-direction: row;
}

.suns .txt-holder {
    margin-top: 0;
}

.suns h4 {
    color: rgb(255, 255, 255);
}

.txt-holder {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem 4rem;
}

.img-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 3rem;
    padding-left: 7rem;
}

.suns .img-section {
    padding-right: 7rem;
    padding-left: 3rem;
}

.img-holder {
    display: flex;
    height: 84vh;
    width: 100vw;
    position: absolute;
    justify-content: center;
    z-index: 4;
    align-items: center;
}

.img-holder-long {
    height: 84vh;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
}

.img-holder-vid {
    height: 85vh;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
}

.img-holder-wide {
    margin-top: 0rem;
    margin-left: 0rem;
    height: 55vh;
    display: flex;
}

.gorillas .img-holder-wide:nth-child(1), .base .img-holder-wide:nth-child(1) {
    margin-top: -1rem;
}

.img-holder-wide:nth-child(2) {
    margin-top: -7vw;
    padding-left: 1vw;
}

.suns .img-holder-wide:nth-child(2) {
    margin-top: -1rem;
    padding-left: 1vw;
}

.suns .img-holder-wide:nth-child(1) {
    margin-top: -7rem;
    margin-left: 0rem;
    display: flex;
}

.img-wide-top {
    object-position: bottom;
}

.img-holder-bottom {
    margin-top: -25.3rem;
    margin-left: 40vw;
    border-top: 1rem solid #000000;
    border-left: 1rem solid #000000;
    height: 50vh;
    z-index: 3;
    width: 58%;
    display: flex;
}

.logo {
    max-height: 6vw;
}

.logo-holder {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-holder img {
    max-width: inherit;
    width: 35%;
}

.img-long, .img-wide, .img-wide-top {
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.stephen {
    object-position: bottom;
}

.img-long {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;

}

.bottom-holder {
    display: flex;
    justify-content: center;
}

/* Base Client */

.video-holder:nth-child(1) {
    margin-top: 2rem;
}
.bottom-holder {
    display: flex;
    justify-content: center;
}

.collage {
    margin-top: 10vh;
}

.rotate-box, .rotate-box-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rotate-box img, .rotate-box-2 img {
    min-height: 50vh;
    max-width: 100%;
    object-fit: cover;
}

.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}
