/* Global */
body {
    overflow-x: hidden;
}

.m-5 {
    display: flex;
}

/* Global Content Styling */

.copy-holder {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

/* Global Video Styling */

.video-holder-2 video {
    display: flex;
    max-width: 100%;
    max-height: 79vh;
}

.client-video {
    max-height: 79vh;
    max-width: 100%;
    z-index: 2;
}

.video-holder-2 {
    z-index: 3;
    margin-bottom: 2rem;
}

/* Global Text Styling */

.txt-holder {
    margin-top: 5vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem;
}

/* Global Logo Styling */

.logo-holder {
    max-width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.logo-holder img {
    max-width: inherit;
    width: 26%;
}

/* Global Image Styling */

.img-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img-holder-wide {
    height: 25.1rem;
}

.img-holder-wide:nth-child(2) {
    margin-top: -1rem;
    height: 13rem;
}

.img-long, .img-wide, .img-wide-top {
    height: inherit;
    width: 100%;
    object-fit: cover;
}

/* Gorillas Section */

.gorillas {
    padding-top: 2.5rem;
    margin-bottom: 2rem;
}

.gorillas .img-holder-wide:nth-child(1) {
    display: none;
    margin-top: -1rem;
    margin-right: -1rem;
    z-index: 1;
}

.gorillas .img-holder-wide img:nth-child(1) {
    object-position: top;
}

#base .img-holder-wide img:nth-child(1) {
    object-position: left;
}

#base .img-holder-wide img:nth-child(2) {
    object-position: center;
}

.gorillas .img-holder-wide:nth-child(2) {
    z-index: 2;
}

/* Suns Sections */

.suns {
    min-height: 73vh;
}

.suns .video-holder-2 video {
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
    max-height: 79vh;
}

.suns .copy-holder {
    flex-direction: row;
}

.suns .img-holder-wide:nth-child(2) {
    margin-top: -1rem;
    margin-left: -1rem;
    height: 25.1rem;
    z-index: 1;
    display: none;
}

.suns .img-holder-wide:nth-child(1) {
    margin-top: -1rem;
    height: 12rem;
    z-index: 2;
}

.suns .right img {
    object-position: center;
}

/* Base Client */

.stephen {
    object-position: bottom;
}

/* Collage Section */

.collage {
    margin-top: 10vh;
    display: none;
}

.rotate-box, .rotate-box-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rotate-box img, .rotate-box-2 img, .flip img {
    min-height: 50vh;
    max-width: 100%;
    object-fit: cover;
}

.flip {
    max-height: 50vh;
    width: 33.33333%;
    padding: 0;
    margin: 0;
}

.left.fancy {
    animation: anim1 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.right.fancy {
    animation: anim2 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.down.fancy {
    animation: anim3 1.5s cubic-bezier(0.4, 0, 1, 1);
}

/* keyframes */

@keyframes anim1 {
    0% {
      opacity: 0;
      transform: translateX(-20rem);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes anim2 {
    0% {
      opacity: 0;
      transform: translateX(20rem);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes anim3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* Media Queries */

@media (min-width: 490px) and (max-width: 768px) {
    .img-holder-wide:nth-child(2) {
        height: 16rem;
    }

    .suns .img-holder-wide:nth-child(1) {
        height: 16rem;
    }
}

@media (min-width: 768px) {
    .txt-holder {
        margin-top: 1.5rem;
        padding: 0rem 0rem 0rem 1rem;
    }

    .suns .txt-holder {
        padding: 0rem 1rem 0rem 0rem;
    }

    .copy-holder .col-md-5 {
        margin-top: 1rem;
    }

    .collage {
        display: initial;
    }

    .gorillas {
        margin-top: 2rem;
    }

    .txt-holder {
        padding: 0rem 4rem;
    }

    .suns {
        min-height: 83vh;
    }

    .gorillas {
        margin-bottom: 15rem;
    }

    .gorillas .img-holder-wide:nth-child(1) {
        display: flex;
    }

    .img-holder-wide:nth-child(2) {
        margin-top: -4rem;
        height: 24rem;
    }

    .video-holder-2 video {
        box-shadow: 8px 8px 8px 0px #00f78a;
        -webkit-box-shadow: 8px 8px 8px 0px #00f78a;
    }

    .suns {
        margin-bottom: 8rem;
    }

    .suns .video-holder-2 video {
        box-shadow: -8px 8px 8px 0px #00f78a;
        -webkit-box-shadow: -8px 8px 8px 0px #00f78a;
    }

    .suns .img-holder-wide:nth-child(1) {
        margin-top: -4rem;
        height: 24rem;
        z-index: 2;
    }

    .suns .img-holder-wide:nth-child(2) {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .txt-holder {
        margin-top: 3rem;
        padding: 0rem 1rem 0rem 2rem;
    }

    .suns .txt-holder {
        padding: 0rem 2rem 0rem 1rem;
    }

    .copy-holder .col-md-5 {
        margin-top: 2rem;
    }
}

@media (min-width: 1500px) {
   .txt-holder {
        margin-top: 4rem;
   } 
}


