html {
  scroll-snap-type: y mandatory;
}

h1 {
    text-align: center;
    height: 9rem;
    margin-top: 3rem;
  }
  
  h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
  }

  .eapp-vimeo-gallery-grid-item .eapp-vimeo-gallery-video-card-container:hover .eapp-vimeo-gallery-video-card-playContainer {
    background-color: rgba(17,17,17,0.7) !important;
  }

  .eapp-vimeo-gallery-grid-item .eapp-vimeo-gallery-video-card-playContainer {
    background-color: transparent;
  }

  .eapp-vimeo-gallery-load-more-component.jsx-4048222137 {
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
  }

  .eapp-vimeo-gallery-load-more-component {
    max-width: 250px;
  }

@media (max-width: 768px) {
  .image3D {
    display: none;
  }
}

@media (min-width: 768px) {
  .app {
    display: none;
  }
}