section {
    max-height: auto;
}

.landing-video {
    height: fit-content;
    max-height: 83vh;
    min-height: 0vh;
  }
  
.ratio {
    max-height: 83vh;
}

.service-info, .testimonial, .work-slide {
    margin-top: 15vh;
}

.work-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial {
    display: flex;
}

.testimonial .title-holder {
    flex-direction: row;
    margin-bottom: 3rem;
}

.title-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.services {
    display: flex;
    margin-top: 3rem;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0rem 7rem;
}

.logo-holder {
    display: flex;
    max-height: 48vh;
    justify-content: center;
}

.logo-holder img {
    max-width: 100%;
    max-height: inherit; 
    padding-left: 2rem;
}

.body {
    display: flex;
    height: 33rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0rem 1rem;
}

.body h5 {
    max-width: 100%;
    text-align: start;
}

.body h1 {
    text-align: start;
    font-size: 3em;
}

.testimonial {
    display: flex;
    flex-direction: column;
}

.testimonial-holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.testimonial-holder img {
    max-width: 100%;
    max-height: 79vh;
}

.testimonial-carousel {
    position: absolute;
    width: 30%;
    display: flex;
    align-items: center;
}

.testimonial-block .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-holder {
    padding: 0rem 3rem;
    margin-top: 4vh;
}

.txt-holder p {
    text-align: center;
}

.img-holder {
    max-width: 13vw;
    max-height: 6vh;
}

.img-gallery {
    display: flex;
    padding: 2rem;
}

.img-gallery .col-4 {
    display: flex;
    justify-content: center;
}

.img-gallery img {
    max-height: 65vh;
    min-width: 33.3333333%;

}

.about-info {
    min-height: 83vh;
}

.space {
    padding: 3.5rem 0rem;
}

.title h1 {
    text-align: center;
}

.info-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 0rem 6rem;
}

.info-title {
    width: 100%;
}

.info-box {
    padding: 0rem 0.5rem;
}

.img-box {
    display: flex;
    justify-content: flex-end;
    height: 40rem;
}

.info-photo {
    max-width: 100%;
    max-height: 80rem;
    object-fit: cover;
}

.projects {
    margin-bottom: 3rem;
}

.carousel-control-next {
    right: -1%;
    justify-content: flex-end;
}

.carousel-control-prev {
    left: -1%;
    justify-content: flex-start;
}

#recipeCarousel .carousel-item {
    transition: transform .6s cubic-bezier(0, 0, 0.33, 1.09);
}

.card {
    border: 0;
    background-color: transparent;
    height: 25rem;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    padding: 0.5rem;
}

.card-img img {
    height: 25rem;
    object-fit: cover;
}

/* Media Queries */
@media (max-width: 767px) {
    #recipeCarousel .carousel-inner .second > div {
        display: none;
    }
    #recipeCarousel .carousel-inner .second > div:first-child {
        display: block;
    }
}

#recipeCarousel .carousel-inner .carousel-item.active,
#recipeCarousel .carousel-inner .carousel-item-next,
#recipeCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (max-width: 768px) {
    #recipeCarousel .carousel-inner .carousel-item-end.active,
    #recipeCarousel .carousel-inner .carousel-item-next {
      transform: translateX(100%);
    }
    
    #recipeCarousel .carousel-inner .carousel-item-start.active, 
    #recipeCarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-100%);
    }

    .carousel-control-next {
        right: -2%;
        justify-content: flex-end;
    }

    .carousel-control-prev {
        left: -2%;
        justify-content: flex-start;
    }
}

#recipeCarousel .carousel-inner .carousel-item-end,
#recipeCarousel .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

@media (min-width: 768px) {
    
    #recipeCarousel .carousel-inner .carousel-item-end.active,
    #recipeCarousel .carousel-inner .carousel-item-next {
      transform: translateX(33.33333333%);
    }
    
    #recipeCarousel .carousel-inner .carousel-item-start.active, 
    #recipeCarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-33.33333333%);
    }
}

#recipeCarousel .carousel-inner .carousel-item-end,
#recipeCarousel .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

@media (min-width: 992px) {       
    #recipeCarousel .carousel-inner .carousel-item-end.active,
    #recipeCarousel .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    #recipeCarousel .carousel-inner .carousel-item-start.active, 
    #recipeCarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

#recipeCarousel .carousel-inner .carousel-item-end,
#recipeCarousel .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}