/* Global Styling */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  background: #000000;
  overflow: auto;
  overflow-x: hidden;
  text-transform: lowercase;
}

section{
  min-height: 100vh;
}

.container-fluid {
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
}

.black {
  color: #000000;
}

.spacer {
  background-color: #000000;
  height: 14vh;
}

.spacer2 {
  background-color: #000000;
  height: 10vh;
}

button {
  border: none;
  text-transform: lowercase;
  padding: 11px;
  text-align: center;
  width: 13rem;
}

.nav-link:hover {
  color: white;
}

/* navbar */

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  max-width: 100vw;
  list-style: none;
  align-items: flex-end;
  padding: 2rem 2rem 2rem 2rem;
}

.nav li a {
  font-size: 1.5vw;
  padding-bottom: 0px;
}

.nav-box {
  z-index: 100;
  position: fixed;
  background-color: #000000;
}

#imgHolder {
  margin-left: 0;
  margin: 0px;
  margin-right: auto;
  display: flex;
  width: fit-content;
}

.nav-link {
  color: white;
}

.nav-link.active {
  color: #00f78a;
}

.landing {
  height: fit-content;
  min-height: 15vh;
}