/* Global Styling */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  background: #000000;
  overflow: auto;
  overflow-x: hidden;
  text-transform: lowercase;
  color: whitesmoke;
  font-size: 18px;
}

section{
  min-height: 83vh;
}

h1,h2,h3,h4,h5,h6,p {
  line-height: 1.1;
}

h1 { font-size: 4em; font-weight: 700; }
h2 { font-size: 4em; }
h3 { font-size: 3em; }
h4 { font-size: 2em; }
h5 { font-size: 1em; }

.container-fluid {
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
}

.black {
  color: #000000;
}

.spacer {
  background-color: #000000;
  height: 14vh;
}

.spacer2 {
  background-color: #000000;
  height: 10vh;
}

button {
  border: none;
  text-transform: lowercase;
  color: white;
  padding-left: 3vw;
  padding-bottom: 0.5vh;
  text-align: start;
  min-width: 20rem;
  height: 6rem;
  font-size: 3rem;
  font-weight: 900;
  border-radius: 37px;
  background-size: 115% 102%;

  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.SendEmail:hover {
  background-position: 100% 120%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.SendEmail:focus {
  outline: none;
}

.SendEmail {
  background-image: linear-gradient(115deg, #00ff8e, #008d4e, #013e25, #000, #000);
}

.nav-link:hover {
  color: white;
}

/* navbar */

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  min-width: 100vw;
  list-style: none;
  align-items: flex-end;
  padding: 1rem 1rem 1rem 1rem;
}

.nav li a {
  font-size: 1.5vw;
  padding-bottom: 0px;
}

.nav-box {
  z-index: 100;
  position: fixed;
  background-color: #000000;
}

#imgHolder {
  margin-left: 0;
  margin: 0px;
  margin-right: auto;
  display: flex;
  width: fit-content;
}

.nav-link {
  color: white;
}

.nav-link.active {
  color: #00f78a;
}

.landing {
  height: fit-content;
  min-height: 14vh;
}

.nav-link.active {
  color: #00f78a;
}

.landing {
  height: fit-content;
  min-height: 17vh;
}