/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}

  body{
    background: #000000;
}

  section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .container-fluid {
    padding-right: var(--bs-gutter-x, 0rem);
    padding-left: var(--bs-gutter-x, 0rem);
}

  .black {
    color: #000000;
}

/* navbar */

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    padding: 3rem;
}

  #imgHolder {
    margin-left: 0;
    margin: 0px;
    margin-right: auto;
    display: flex;
    width: fit-content;
}

  .nav-link {
    color: white;
  }

  .nav-link.active {
    color: #00f78a;
  }

  .landing {
    justify-content: center;
    align-items: flex-start;
  }

/* Home Section */

  section:nth-child(1){
    color: #e0ffff;
}

/* Info Section */

  section:nth-child(2){
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #42455a;
    background: #e0ffff;
    padding-bottom: 160px;
    padding-top: 160px;
} 

  #greenBanner {
    background-color: #00f78a;
    width: -webkit-fill-available;
    min-height: 150px;
  }

  .hidden-text {
    display: flex;
    align-items: center;
    position: absolute;
    min-width: 100%;
    color: #e0ffff;
    height: 50vh;
  }

  .placeholder-text {
    font-size: 3vw;
  }

/* Work Section */

  section:nth-child(4){
    color: #e0ffff;
}

  section:nth-child(3){
    color: #42455a;
    background: #e0ffff;
    margin-top: 80px;
}

  section .container{
    margin: 100px;
}

  section h1{
    font-size: 3rem;
    margin: 20px;
}

  section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

  section .text-container{
     display: flex;
}

  section .text-container .text-box{
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
}

  section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
  
  @media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .text-container{
      flex-direction: column;
    }
}
  
  .reveal{
    position: relative;
    transform: translateY(40px);
    opacity: 0;
    transition: 1.5s all ease;
}
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
}

  .sticky.active {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}