{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}

<section class="container-fluid landing-video">
    <div class="container-fluid">
        <div class="container-fluid video">
            <div class="ratio ratio-16x9">
                <video src="/static/video/001-AboutPageHeader.mp4" muted disablePictureInPicture autoplay loop></video>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid about-info">
    <div class="container-fluid info-holder">
        <div class="col-md-6 img-box">
            <img src="/static/images/our_story.jpg" alt="Our Journey" class="info-photo">
        </div>
        <div class="col-md-6 info-box">
                <div class="col title">
                    <h1>Our Story</h1>
                </div>
                <div class="col body">
                    <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h5>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

