{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}

<section class="container-fluid landing-video">
    <div class="container-fluid">
        <div class="container-fluid video">
            <div class="ratio ratio-16x9">
                <video src="/static/video/001-AboutPageHeader.mp4" preload="true" muted disablePictureInPicture autoplay loop></video>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid about-info space">
    <div class="container-fluid info-holder">
        <div class="col-md-6 img-box">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/our_story.jpg" alt="Our Journey" class="info-photo">
        </div>
        <div class="col-md-6 info-box">
                <div class="col body">
                    <h1 class="info-title">Our Story</h1>
                    <h5>In a nutshell wac is here to amplify and bring your vision to life through
                        the medium of digital content. Our capabailities span across providing
                        assets for social, performance, OOH and BTL imagery. <br /><br />
                        
                        we know what good content looks like and we aren't afraid to say it.
                        wac is formed by a team of expert creatives with years of experience
                        in the digital and advertising space. <br /><br />

                        we are with you from concept to delivery and always have your primary
                        ideas at its core. We'll fidn what makes your business, campaign, production
                        or service special and make it shine! <br /><br />

                        wac has worked with global brands from the likes of Adidas, Jamie Oliver,
                        Gorillas & Digme Fitness.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid work-section space">
    <div class="container-fluid info-holder-2">
        <div class="col-12 m5">
            <div class="col-12 center">
                <h1 class="big-title">how we work</h1>
            </div>
            <div class="col-12 center">
                <h5>
                    wac can create a bespoke approach to suit your specific partnership needs: <br /><br />
                    we can be as hands on as needed; from sitting in and initially brainstorming, <br />
                    conceptualisation and idea generation, to content creation or working solely <br />
                    on the post production and final delivery
                </h5>
            </div>
        </div>
    </div>

    <div class="container-fluid partnerships">
        <div class="col-12 col-sm-12 col-md-6 circle-holder">
            <div class="col circle-header">
                <h4 class="circle-title">embedded</h4>
            </div>
            <div class="circle">
                <div class="tap-me">
                    <h3 class="tap-title">tap me</h4>
                </div>
            </div>
            <div id="grow" class="circle-hidden">

            </div>
            <div class="reveal-text">
                <h5 class="hidden-text">
                    working alongside you from 
                    start to finish, you bring the 
                    idea and we work our magic
                    through pre production, 
                    shooting & post production - 
                    we can take full control with 
                    sourcing models, locations &
                    equiptment
                </h5>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 circle-holder">
            <div class="col circle-header">
                <h4 class="circle-title">extended</h4>
            </div>
            <div class="circle rot-reveal">
                <div class="tap-me-2">
                    <h3 class="tap-title-2">tap me</h4>
                </div>
            </div>
            <div class="col reveal-text-2">
                <h5 class="hidden-text-2">
                    working alongside you from 
                    start to finish, you bring the 
                    idea and we work our magic
                    through pre production, 
                    shooting & post production - 
                    we can take full control with 
                    sourcing models, locations &
                    equiptment
                </h5>
            </div>
        </div>
    </div>
    <div class="col-12 partner-vid">
        <video src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/partner_motion.mp4" preload="true" muted disablePictureInPicture autoplay></video>
    </div>
</section>

<section id="moriarty" class="container-fluid expander space">
    <div class="container-fluid see-work shrink">
        <div class="col-3 work-button">
            <div class="tap-me">
                <h1 class="work-title">
                    <a class="click-link" href="{{ url_for('content_page') }}">see our work</a>
                </h1>
            </div>
        </div>
        <img class="image-show image-shrink" src="/static/images/our-work.JPG" alt="See Work">
    </div>
</section>

<section class="container-fluid team">
    <div class="container-fluid team-holder">
        <!--
        <div class="col-sm-6 inner-padding">
            <div class="col">
                <h1 class="team-title">team</h1>
            </div>
            <div class="col moto">
                <h5>
                    wac boosts a team of expert creatives with years of experience in the industry
                    we work as a collective, insuring every project is produced to it's greatest potential
                </h5>
            </div>
            <div class="col">
                <span>
                    <h5 class="member-name">
                        George Edgar <br />
                    </h5>
                </span>
                <h5 class="member-title">
                    Non Exec Director
                </h5>
            </div>
            <div class="col">
                <span>
                    <h5 class="member-name">
                        Jamie Smith <br />
                    </h5>
                </span>
                <h5 class="member-title">
                    Creative
                </h5>
            </div>
            <div class="col">
                <span>
                    <h5 class="member-name">
                        Freddie Wilkinson <br />
                    </h5>
                </span>
                <h5 class="member-title">
                    Photographer
                </h5>
            </div>
            <div class="col">
                <span>
                    <h5 class="member-name">
                        Sophie Towndrow <br />
                    </h5>
                </span>
                <h5 class="member-title">
                    Non Exec Director
                </h5>
            </div>
        </div>
        -->
        <div class="col-sm-12">
            <div class="col-12 col-md-6 headshot-holder">
                <video src="/static/video/alex_new_shot.mp4" class="bubble-head" preload="true" muted disablepictureinpicture></video>
                <div class="col owner-title">
                    <h5>
                        <span>Alex</span> <br>
                        co-founder
                    </h5>
                </div>
            </div>

            <div class="col-12 col-md-6 headshot-holder-josh" id="josh">
                <video src="/static/video/josh_new_shot.mp4" class="bubble-head-2" preload="true" muted disablepictureinpicture ></video>
                <div class="col owner-title">
                    <h5>
                        <span>Josh</span> <br>
                        co-founder
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('body').flowtype({
        minimum   : 500,
        maximum   : 1400,
        minFont   : 14,
        maxFont   : 70,
        fontRatio : 70
    });
</script>

<script>
    $(".tap-me").click(function(){
        $(".tap-title").fadeOut(1000);
        $('.circle-hidden').addClass('circle-reveal');
        $('.reveal-text').fadeIn(2000);
    });

    $(".tap-me-2").click(function(){
        $(".tap-title-2").fadeOut("slow", function(){
            $(".rot-reveal").toggleClass("rot");
            $('.reveal-text-2').fadeIn(2000);
        });
    });
</script>

<script type="text/javascript">


var observer = new IntersectionObserver(function(entries) { console.log(entries);
	if(entries[0]['isIntersecting'] === true) {
        if(entries[0]['intersectionRatio'] > 0.5)
            document.querySelector(".see-work").classList.remove('shrink');
			document.querySelector(".image-show").classList.remove('image-shrink');   
    }
}, { threshold: [0.5] });

observer.observe(document.querySelector("#moriarty"));


</script>


{% endblock %}

