<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="{{ url_for('static', filename='js/flowtype.js') }}"></script>
    {% endblock %}

    {% block extrajs %} 
    {% endblock %}

    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
    
    {% block extra_styles %}
    {% endblock %}
    
    <title>We Are Collective</title>
</head>
<body>

    <!--Navbar-->

    <section class="container-fluid landing">
        <div class="container-fluid nav-box">
            <ul class="nav justify-content-end">
                <div id="imgHolder" class="container">
                    <a class="navbar-brand justify-content-start" href="#">
                        <img src="static/images/nav_logo.png" alt="">
                    </a>
                </div>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('content_page') }}">Work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('services_page') }}">Services</a>
                </li>
            </ul>
        </div>
    </section>

    {% block content %}
    {% endblock %}

    <footer>

    </footer>
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/email.js') }}"></script>
    {% endblock %}
</body>
</html>