{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}">
{% endblock %}

{% block content %}

<section class="container-fluid landing">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light">
        <div class="container-fluid nav-box">
            <div id="imgHolder" class="container">
                <a class="navbar-brand justify-content-start" href="#">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/nav_logo.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link active" aria-current="page" href="{{ url_for('content_page') }}">Work</a>
                    <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
                    <a class="nav-link" href="{{ url_for('services_page') }}">Services</a>
                </div>
            </div>
        </div>
      </nav>
</section>

<section class="container gorillas" id="gorillasSection">
    <div class="container-fluid copy-holder">
        <div class="col-md-5">
            <div class="col logo-holder">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorillas_logo_white.png" alt="Gorillas Logo">
            </div>
            <div class="col txt-holder">
                <h5>
                    <span class="upperclass">We</span>are proud to say wac has worked with Gorillas since their UK launch <span class="green-bold">-</span>
                    Since our relationship started we have worked together to produce countless pieces of video and photography content <span class="green-bold">-</span> 
                    Supporting their social channels with new area launch films, in depth interviews with <span class="uppercase">Riders</span>, <span class="uppercase">Partnership Spotlights</span> with some of their most valued brands and <span class="caps">OOH</span> campaigns seen across London by millions.                     
                </h5>
            </div>
        </div>
        <div class="col-md-7 video-holder-2 animate-me left">
            <video src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/gorilla_2_vid.mp4#t=0.5" class="client-video" preload="metadata" controls muted playsinline disablepictureinpicture></video>
        </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-12 col-md-5 img-holder-wide animate-me down">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/IMG_1774_(Medium).png" alt="Gorillas Delivery" class="img-wide">
        </div>
        <div class="col-12 col-md-7 img-holder-wide animate-me right">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/Gateway-Westfield-1408x672-generic-2.jpg" alt="Gorillas RTD" class="img-wide-top">
        </div>
    </div>
</section>

<section id="sunsSection" class="container suns">
    <div id="sunsCopy" class="container-fluid copy-holder">
        <div class="col-md-5">
            <div class="col logo-holder">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/suns.png" alt="Gorillas Logo">
            </div>
            <div class="col txt-holder">
                <h5>
                    <span class="upperclass">We</span>have produced an array of digital content for <span class="uppercase">Suns Lifestyle</span>, they understand the need for premium products and services <span class="green-bold">-</span> 
                    Working with them on various video and photography briefs, we are able to capture stunning <span class="uppercase">Lifestyle</span> footage to showcase to their clients.
                </h5>
            </div>
        </div>
        <div class="col-md-7 video-holder-2 animate-me right">
            <video src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/suns_content_vid.mp4#t=0.5" class="client-video" controls="" muted="" playsinline disablepictureinpicture=""></video>
        </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-12 col-md-7 img-holder-wide animate-me left">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/suns_3.jpg" alt="Suns Garden" class="img-wide">
        </div>
        <div class="col-12 col-md-5 img-holder-wide animate-me down">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/suns_content_long.jpeg" alt="Suns Drone" class="img-wide-top">
        </div>
    </div>
</section>

<section id="base" class="container gorillas">
    <div class="container-fluid copy-holder">
        <div class="col-md-5">
            <div class="col logo-holder">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/base.png" alt="Base Logo">
            </div>
            <div class="col txt-holder">
                <h5> 
                    <span class="uppercase">As Base's</span> main content partner, we help showcase not only their <span class="uppercase">Cloud Solution</span> services they provide, but how beneficial they are from a consumer perspective <span class="green-bold">-</span> 
                    Working closely with the marketing team from concept to delivery producing engaging video and motion graphic content. 
                </h5>
            </div>
        </div>
        <div class="col-md-7 video-holder-2 animate-me left">
            <video src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/base_content_vid.mp4#t=0.5" class="client-video" controls muted playsinline disablepictureinpicture></video>
        </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-12 col-md-5 img-holder-wide animate-me down">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/stephen_base.png" alt="On set with Base" class="img-wide stephen">
        </div>
        <div class="col-12 col-md-7 img-holder-wide animate-me right">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/base_5.JPG" alt="Stephen Interview" class="img-wide-top">
        </div>
    </div>
</section>

<section class="container-fluid collage">
    <div class="container-fluid rotate-box">
        <div class="container flip">
            <div class="col-6 col-sm-4 front">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/jubeL-box.jpg" alt="Jubel Collage Image">
            </div>
            <div class="col-6 col-sm-4 back">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorilla_drink.jpg" alt="Jubel Drink Image">
            </div>
        </div>
        <div class="container flip">
            <div class="col-6 col-sm-4 front">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_1.jpg" alt="Digme Collage Image">
            </div>
            <div class="col-6 col-sm-4 back">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme-box-2.jpg" alt="Digme Trainer">
            </div>
        </div>
        <div class="container flip">
            <div class="col-6 col-sm-4 front">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/jamie_box.jpg" alt="Jamie Collage Image">
            </div>
            <div class="col-6 col-sm-4 back">
                <a href="{{ url_for('projects_page') }}">
                    <h1>
                        <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/jamie-box-2.jpg" alt="Jamie Olier Show">
                    </h1>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid rotate-box-2">
        <div class="container flip">
            <div class="col-6 col-sm-4 front">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/DSC_2704_8GREENS_HIGHRES_(Medium).png" alt="8greens Collage Image">
            </div>
            <div class="col-6 col-sm-4 back">
                <a href="{{ url_for('projects_page') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/8GREENS_SHOT16_8GREENS_HIGHRES_(Medium).png" alt="8greens Item">
                </a>
            </div>
        </div>
        <div class="container flip">
            <div class="col-6 col-sm-4 front">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/bxr_box.jpg" alt="BXR Collage Image">
            </div>
            <div class="col-6 col-sm-4 back">
                <a href="{{ url_for('projects_page') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/bxr-slick.jpg" alt="BXR Boxer">
                </a>
            </div>
        </div>
        <div class="container flip">
            <div class="col-6 col-sm-4 front">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorrilas_3.jpg" alt="Gorillas Set">
            </div>
            <div class="col-6 col-sm-4 back">
                <a href="{{ url_for('projects_page') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorillas_box.jpg" alt="Gorillas Camera in Trolley">
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid video video-holder">
        <div class="col-12 contact-holder">
            <div class="col-10 col-lg-6 contact">
                    <div class="col social-icons">
                        <a class="SendEmail" href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/Mail_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a>
                    </div>
                    <div class="col social-icons">
                        <a href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/FacebookSocial_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a>
                    </div>
                    <div class="col social-icons">
                        <a href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/InstaSocial_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a> 
                    </div>
                    <div class="col social-icons">
                        <a href="#"></a>
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/LinkedInSocial_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</footer>


<script src="{{ url_for('static', filename='js/content.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flip.min.js') }}"></script>

<script type="text/javascript">
    $('body').flowtype({
        minimum   : 500,
        maximum   : 1400,
        minFont   : 14,
        maxFont   : 70,
        fontRatio : 70
    });

    $(function(){
        $(".flip").flip({
            trigger: 'hover'
        });
    });
</script>
{% endblock %}