{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}">
{% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="container-fluid">
            <div class="col-12 video-holder">
                <video src="/static/video/gorilla_2_vid.mp4" class="client-video" controls="" muted="" disablepictureinpicture="" autoplay="" loop=""></video>
            </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-6 img-holder-long">
            <img src="/static/images/gorillas_content_long.jpg" alt="Gorillas Street Image" class="img-long">
        </div>
        <div class="col-6 img-holder-wide">
            <img src="/static/images/gorillas_content_2.jpg" alt="Gorillas Street Image" class="img-wide-top">
        </div>
        <div class="col-6 img-holder">
            <img src="/static/images/gorillas_logo_white.png" alt="Gorillas Logo" class="logo">
        </div>
        <div class="col-12 bottom-holder">
            <div class="col-6 img-holder-bottom">
                <img src="/static/images/gorillas_content_1.jpg" alt="Gorillas Street Image" class="img-wide">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="container-fluid">
            <div class="col-12 video-holder">
                <video src="/static/video/base_content_vid.mp4" class="client-video" controls="" muted="" disablepictureinpicture="" autoplay="" loop=""></video>
            </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-6 img-holder-long">
            <img src="/static/images/base_content_long.JPG" alt="Gorillas Street Image" class="img-long">
        </div>
        <div class="col-6 img-holder-wide">
            <img src="/static/images/gorillas_content_2.jpg" alt="Gorillas Street Image" class="img-wide-top">
        </div>
        <div class="col-6 img-holder">
            <img src="/static/images/base.png" alt="Gorillas Logo" class="logo">
        </div>
        <div class="col-12 bottom-holder">
            <div class="col-6 img-holder-bottom">
                <img src="/static/images/gorillas_content_1.jpg" alt="Gorillas Street Image" class="img-wide">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="container-fluid">
            <div class="col-12 video-holder">
                <video src="/static/video/suns_content_vid.mp4" class="client-video" controls="" muted="" disablepictureinpicture="" autoplay="" loop=""></video>
            </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-6 img-holder-long">
            <img src="/static/images/suns_content_long.jpeg" alt="Gorillas Street Image" class="img-long">
        </div>
        <div class="col-6 img-holder-wide">
            <img src="/static/images/gorillas_content_2.jpg" alt="Gorillas Street Image" class="img-wide-top">
        </div>
        <div class="col-6 img-holder">
            <img src="/static/images/base.png" alt="Gorillas Logo" class="logo">
        </div>
        <div class="col-12 bottom-holder">
            <div class="col-6 img-holder-bottom">
                <img src="/static/images/gorillas_content_1.jpg" alt="Gorillas Street Image" class="img-wide">
            </div>
        </div>
    </div>
</section>

{% endblock %}