{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}">
{% endblock %}

{% block extrajs %} 
<script src="https://player.vimeo.com/api/player.js"></script>
{% endblock %}

{% block content %}

<section class="container-fluid landing">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light">
        <div class="container-fluid nav-box">
            <div id="imgHolder" class="container">
                <a class="navbar-brand justify-content-start" href="{{ url_for('home') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/nav_logo.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link active" aria-current="page" href="{{ url_for('work') }}">Work</a>
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    <a class="nav-link" href="{{ url_for('services') }}">Services</a>
                    <a class="nav-link" href="#contact">Contact</a>
                </div>
            </div>
        </div>
      </nav>
</section>

<section class="container gorillas" id="gorillasSection">
    <div class="container-fluid copy-holder">
        <div class="col-12 animate-me down">
            <div class="col logo-holder">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorillas_logo_white.png" loading="eager" alt="Gorillas Logo">
            </div>
            <div class="col txt-holder">
                <h5>
                    <span class="uppercase">We</span> are proud to say wac has worked with <span class="uppercase">Gorillas</span> from the beginning of their <span class="uppercase">UK</span> launch <span class="green-bold">-</span>
                    Since our relationship started, we have worked together to produce high quality pieces of video and photographic content <span class="green-bold">-</span> 
                    Supporting their social channels with area launch films, in depth interviews with Riders, Partnership Spotlights with high value brands and <span class="caps">OOH</span> campaigns seen across <span class="uppercase">London</span> by millions.                     
                </h5>
            </div>
        </div>
        <div class="col-12 video-holder-2">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/618789048?h=3691482821&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" loading="eager" onload="outLine()" class="vimeo-vid" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Gorillas - Tulse Hill"></iframe></div>
        </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-12 img-holder-wide one">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/Gateway-Westfield-1408x672-generic-2.jpg" loading="eager" alt="Gorillas Delivery" id="drinks" class="img-wide">
        </div>
        <div class="col-12 img-holder-wide two">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorilla_work_drink.png" loading="eager" alt="Gorillas RTD" class="img-wide-top">
        </div>
    </div>
</section>

<section id="sunsSection" class="container suns">
    <div id="sunsCopy" class="container-fluid copy-holder">
        <div class="col-12 animate-me down">
            <div class="col logo-holder">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/suns.png" alt="Gorillas Logo">
            </div>
            <div class="col txt-holder">
                <h5>
                    <span class="uppercase">We</span> have produced an array of digital content for <span class="uppercase">Suns Lifestyle</span>, they understand the need for premium products and services <span class="green-bold">-</span> 
                    Working together on various video and photography briefs, we were able to capture stunning lifestyle footage to showcase to clients.
                </h5>
            </div>
        </div>
        <div class="col-12 video-holder-2 animate-me right">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/687876182?h=cace86c45e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Suns Lifestyle - Maranza"></iframe></div>
        </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-12 img-holder-wide animate-me left one">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/suns_3.jpg" alt="Suns Garden" class="img-wide">
        </div>
        <div class="col-12 col-md-5 img-holder-wide animate-me down two">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/suns_content_long.jpeg" alt="Suns Drone" class="img-wide-top">
        </div>
    </div>
</section>

<section id="base" class="container gorillas">
    <div class="container-fluid copy-holder">
        <div class="col-12 animate-me down">
            <div class="col logo-holder">
                <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/base.png" alt="Base Logo">
            </div>
            <div class="col txt-holder">
                <h5> 
                    <span class="uppercase">As</span> base's main content partner, we help showcase not only their <span class="uppercase">Cloud Solution</span> services they provide, but how beneficial they are from a consumer perspective <span class="green-bold">-</span> 
                    Working closely with the marketing team from concept to delivery, producing engaging video and motion graphic content. 
                </h5>
            </div>
        </div>
        <div class="col-12 video-holder-2 animate-me left">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/522812555?h=e4f391b12e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" onload="outLine()" class="vimeo-vid" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Base Media Cloud - Extreme E"></iframe></div>
        </div>
    </div>
    
    <div class="container-fluid img-section">
        <div class="col-12 img-holder-wide animate-me down one">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/stephen_new.jpg" alt="On set with Base" id="stephen" class="img-wide stephen">
        </div>
        <div class="col-12 img-holder-wide animate-me right two">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/base_5.JPG" alt="Stephen Interview" class="img-wide-top">
        </div>
    </div>
</section>

<section class="container-fluid collage">
    <div class="container-fluid rotate-box">
            <div class="col-6 col-sm-4 front">
                <a href="{{ url_for('projects') }}"></a>
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/jubeL-box.jpg" loading="lazy" alt="Jubel Collage Image">
                </a> 
            </div>
            <div class="col-6 col-sm-4 front">
                <a href="{{ url_for('projects') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/L3210636_1350px72dpi.jpg" loading="lazy" alt="Digme Collage Image">
                </a>
            </div>
            <div class="col-6 col-sm-4 front">
                <a href="{{ url_for('projects') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/jamie_box.jpg" loading="lazy" alt="Jamie Collage Image">
                </a>
            </div>
    </div>
    <div class="container-fluid rotate-box-2">
            <div class="col-6 col-sm-4 front">
                <a href="{{ url_for('projects') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/DSC_2704_8GREENS_HIGHRES_(Medium).png" loading="lazy" alt="8greens Collage Image">
                </a>
            </div>
            <div class="col-6 col-sm-4 front">
                <a href="{{ url_for('projects') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/bxr-slick.jpg" loading="lazy" alt="BXR Collage Image">
                </a>
            </div>
            <div class="col-6 col-sm-4 front">
                <a href="{{ url_for('projects') }}"></a>
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorilla_drink.jpg" loading="lazy" alt="Gorillas Set">
                </a>
            </div>
    </div>
</section>

<footer>
    <div id="contact" class="container-fluid video video-holder">
        <div class="col-12 contact-holder">
            <div class="col-10 col-lg-6 contact">
                <!--
                    <div class="col social-icons email-icon">
                        <a class="SendEmail" target="_blank" onclick="OpenEmail" href="">
                            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-email-logo-250px.png" alt="Email Link" class="socials">
                        </a>
                    </div>
                -->
                    <div class="elfsight-app-91c96a49-07a0-4d25-b6dc-7b0b32c1c0a2"></div>
                    <div class="col social-icons">
                        <a href="https://www.facebook.com/We-are-collective-1140423542776414" target="_blank" rel="noopener noreferrer">
                            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-fb-logo-250px.png" alt="Facebook Link" class="socials">
                        </a>
                    </div>
                    <div class="col social-icons">
                        <a href="https://www.instagram.com/we.arecollective/" target="_blank" rel="noopener noreferrer">
                            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-logo-250px.png" alt="Insta Link" class="socials">
                        </a> 
                    </div>
                    <div class="col social-icons">
                        <a href="https://www.linkedin.com/company/wearecollective/" target="_blank" rel="noopener noreferrer">
                            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-li-logo-250px.png" alt="Linkedin Link" class="socials">
                        </a>
                    </div>
                    <div class="col social-icons">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-phone-250px.png" alt="Mobile Link" class="socials">
                        </a> 
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title uppercase" id="exampleModalLabel">Contact Info</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span class="uppercase">Josh Edwards : </span>
                                    <a href="tel:+447903595354" class="mobile-link" target="_blank" onclick="gtag_report_conversion" rel="noopener noreferrer">
                                        +44790 359 5354
                                    </a> 
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</footer>


<script src="{{ url_for('static', filename='js/content.js') }}"></script>
<script type="text/javascript">
    function outLine() {
    $('.vimeo-vid').addClass('vimeo-border');
    }
</script>
{% endblock %}