{% extends "base.html" %}

    {% block extrajs %} 
    <script src="https://player.vimeo.com/api/player.js"></script>
    {% endblock %}

    {% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    {% endblock %}

{% block content %}

<section class="container-fluid landing">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light">
        <div class="container-fluid nav-box">
            <div id="imgHolder" class="container">
                <a class="navbar-brand justify-content-start" href="#">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/nav_logo.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('content_page') }}">Work</a>
                    <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
                    <a class="nav-link" href="{{ url_for('services_page') }}">Services</a>
                </div>
            </div>
        </div>
      </nav>
</section>

<section class="container-fluid landing-video">
    <div class="container-fluid reveal-holder">
        <div class="container-fluid video">
            <div class="ratio ratio-16x9">
                <video src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/AboutPageHeaderUpdated.mp4" muted disablePictureInPicture playsinline autoplay loop></video>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid circle-turn">
    <div class="container-fluid info-container">
        <div class="col-3 icon-holder">
            <img class="half-icon animate-me spin" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-logo-72dpi.png" alt="WAC Half Icon">
        </div>

        <div class="col-9 info">
            <h1 class="info-text animate-me reveal">
                <span class="uppercase">We</span> know what good <span class="highlight">content</span> looks like and we aren't afraid to say it <br><br>
                <span class="green-bold">WAC</span> is formed by a team of expert creatives with years of experience 
                in the digital and advertising space!
            </h1>
        </div>
    </div>
</section>

<section class="container-fluid clients">
    <div class="split-slideshow sticky active">
        <div class="slideshow">
          <div class="slider">
              <!--
            <div class="item">
              <img class="portfolio-img" src="static/images/gorrilas_2.jpg" />
            </div>
            -->
            <div class="item">
              <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorrilas4.jpg" />
            </div>
          </div>
        </div>
    </div>
</section>

<section id="firstSlider" class="container-fluid client-videos">
    <div class="col-12 col-md-10 col-lg-8 carousel-item-background">
        <iframe class="gorillaVid" src="https://player.vimeo.com/video/663361013?h=7fd8c24c99&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="The Right To Dance x Gorillas"></iframe>
    </div>
</section>

<section id="logos" class="container-fluid logo-holder">
    <div class="container-fluid">
        <video onmouseenter="this.play()" class="client-reveal" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/ClientsLogos.mp4" muted playsinline autoplay disablePictureInPicture></video>
    </div>
</section>

<section class="container-fluid clients">
    <div class="split-slideshow2 sticky active">
        <div class="slideshow2">
          <div class="slider2">
            <div class="item2">
              <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_2.jpg" />
            </div>
            <!--
            <div class="item2">
                <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_3.jpg" />
            </div>
            -->
          </div>
        </div>
    </div>
</section>

<section class="container-fluid client-videos">
    <div class="col-12 col-md-10 col-lg-8 carousel-item-background">
        <iframe src="https://player.vimeo.com/video/468147329?h=46fbaed4af&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" class="digmeVid" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Digme On Demand - Promo"></iframe>
    </div>
</section>

<footer>
    <div class="container-fluid video video-holder">
        <div class="col-12 contact-holder">
            <div class="col-10 col-lg-6 contact">
                    <div class="col social-icons">
                        <a class="SendEmail" href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/Mail_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a>
                    </div>
                    <div class="col social-icons">
                        <a href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/FacebookSocial_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a>
                    </div>
                    <div class="col social-icons">
                        <a href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/InstaSocial_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a> 
                    </div>
                    <div class="col social-icons">
                        <a href="#"></a>
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/LinkedInSocial_Icon(ScaledDown).mp4#t=2" muted playsinline disablePictureInPicture></video>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}