{% extends "base.html" %}

<head>

    {% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    {% endblock %}

</head>

{% block content %}

<section class="container-fluid landing">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light">
        <div class="container-fluid nav-box">
            <div id="imgHolder" class="container">
                <a class="navbar-brand justify-content-start" href="#">
                    <img src="static/images/nav_logo.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('content_page') }}">Work</a>
                    <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
                    <a class="nav-link" href="{{ url_for('services_page') }}">Services</a>
                </div>
            </div>
        </div>
      </nav>
</section>

<section class="container-fluid landing-video">
    <div class="container-fluid reveal-holder">
        <div class="container-fluid video">
            <div class="ratio ratio-16x9">
                <video src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/AboutPageHeaderUpdated.mp4" muted disablePictureInPicture autoplay></video>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid circle-turn">
    <div class="container-fluid info-container">
        <div class="col-3 icon-holder">
            <img class="half-icon animate-me spin" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-logo-72dpi.png" alt="WAC Half Icon">
        </div>

        <div class="col-9 info">
            <h1 class="info-text animate-me reveal">
                We know what good <span class="funk">content</span> looks like and we aren't afraid to say it <br><br>
                <span class="green">WAC</span> is formed by a team of expert creatives with years of experience 
                in the digital and advertising space!
            </h1>
        </div>
    </div>
</section>

<section class="container-fluid clients">
    <div class="split-slideshow sticky active">
        <div class="slideshow">
          <div class="slider">
              <!--
            <div class="item">
              <img class="portfolio-img" src="static/images/gorrilas_2.jpg" />
            </div>
            -->
            <div class="item">
              <img class="portfolio-img" src="static/images/gorrilas4.jpg" />
            </div>
          </div>
        </div>
    </div>
</section>

<section id="firstSlider" class="container-fluid client-videos">
    <div class="carousel-item-background">
        <video onmouseover="this.play()" onmouseleave="this.pause()" class="gorillaVid" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/gorrilas_vid.mp4" controls preload="metadata" disablePictureInPicture></video>
    </div>
</section>

<section id="logos" class="container-fluid logo-holder">
    <div class="container-fluid">
        <video onmouseenter="this.play()" class="client-reveal" src="static/video/ClientsLogos.mp4" autoplay disablePictureInPicture></video>
    </div>
</section>

<section class="container-fluid clients">
    <div class="split-slideshow2 sticky active">
        <div class="slideshow2">
          <div class="slider2">
            <div class="item2">
              <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_2.jpg" />
            </div>
            <!--
            <div class="item2">
                <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_3.jpg" />
            </div>
            -->
          </div>
        </div>
    </div>
</section>

<section class="container-fluid client-videos">
    <div class="carousel-item-background">
        <video onmouseover="this.play()" onmouseleave="this.pause()" class="digmeVid" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/digmeVid.mp4" controls preload="metadata" disablePictureInPicture></video>
    </div>
</section>

<footer>
    <div class="container-fluid video video-holder">
        <div class="col-12 contact-holder">
            <div class="col-lg-5 btn-box">
                <button class="SendEmail">contact</button>
            </div>
            <div class="col-lg-6 contact">
                    <div class="col social-icons">
                        <a href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/FacebookSocial_Icon(Updated).mp4" disablePictureInPicture></video>
                        </a>
                    </div>
                    <div class="col social-icons">
                        <a href="#">
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/InstaSocial_Icon(Updated).mp4" disablePictureInPicture></video>
                        </a> 
                    </div>
                    <div class="col social-icons">
                        <a href="#"></a>
                            <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/LinkedInSocial_Icon(Updated).mp4" disablePictureInPicture></video>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script type="text/javascript">
    $('body').flowtype({
        minimum   : 500,
        maximum   : 1400,
        minFont   : 14,
        maxFont   : 70,
        fontRatio : 70
    });
</script>

{% endblock %}