{% extends "base.html" %}

<head>

    {% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    {% endblock %}

</head>

{% block content %}

<section class="container-fluid landing">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light">
        <div class="container-fluid nav-box">
            <div id="imgHolder" class="container">
                <a class="navbar-brand justify-content-start" href="#">
                    <img src="static/images/nav_logo.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('content_page') }}">Work</a>
                    <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
                    <a class="nav-link" href="{{ url_for('services_page') }}">Services</a>
                </div>
            </div>
        </div>
      </nav>
</section>

<section class="container-fluid landing-video">
    <div class="container-fluid">
        <div class="container-fluid video">
            <div class="ratio ratio-16x9">
                <video src="static/video/Homepage_TextMotion_Stay.mp4" muted disablePictureInPicture autoplay></video>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid clients">
    <div class="split-slideshow sticky active">
        <div class="slideshow">
          <div class="slider">
            <div class="item">
              <img class="portfolio-img" src="static/images/gorrilas_2.jpg" />
            </div>
            <div class="item">
              <img class="portfolio-img" src="static/images/gorrilas4.jpg" />
            </div>
            <div class="item">
                <img class="portfolio-img" src="static/images/gorrilas_3.jpg" />
              </div>
          </div>
        </div>
        <div class="slideshow-text">
          <div class="item"></div>
        </div>
    </div>
</section>

<section class="container-fluid client-videos">
    <div class="carousel-item-background">
        <video class="gorillaVid" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/gorrilas_vid.mp4" controls preload="metadata" disablePictureInPicture></video>
    </div>
</section>

<section class="container-fluid logo-holder">
    <div class="container-fluid">
        <video class="client-reveal" src="static/video/ClientsLogos.mp4" disablePictureInPicture preload="metadata"></video>
    </div>
</section>

<section class="container-fluid clients">
    <div class="split-slideshow2 sticky active">
        <div class="slideshow2">
          <div class="slider2">
            <div class="item2">
              <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_1.jpg" />
            </div>
            <div class="item2">
              <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_2.jpg" />
            </div>
            <div class="item2">
                <img class="portfolio-img" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme_3.jpg" />
              </div>
          </div>
        </div>
        <div class="slideshow-text2">
          <div class="item2"></div>
        </div>
    </div>
</section>

<section class="container-fluid client-videos">
    <div class="carousel-item-background">
        <video class="digmeVid" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/digmeVid.mp4" controls preload="metadata" disablePictureInPicture></video>
    </div>
</section>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script type="text/javascript">
        $(document).ready(function() {
        // Get media - with autoplay disabled (audio or video)
            var media = $('.client-reveal').not("[autoplay='autoplay']");
            var tolerancePixel = 20;

            function checkMedia(){
                // Get current browser top and bottom
                var scrollTop = $(window).scrollTop() + tolerancePixel;
                var scrollBottom = $(window).scrollTop() + $(window).height() - tolerancePixel;

                media.each(function(index, el) {
                    var yTopMedia = $(this).offset().top;
                    var yBottomMedia = $(this).height() + yTopMedia;

                    if(scrollTop < yBottomMedia && scrollBottom > yTopMedia){ 
                        $(this).get(0).play();
                    } else {
                        $(this).get(0).pause();
                    }
                });
            }
            $(document).on('scroll', checkMedia);
        });
</script>

<script type="text/javascript">
    // Getting video element using jQuery
    var video = $(".gorillaVid,.digmeVid");

    // Check if video is ready to play
    $(video).on('canplay', function () {
        $(video).mouseover(function () {
            $(this).get(0).play();
        }).mouseout(function () {
            $(this).get(0).pause();
        })
    });
</script>

<script>
    // Getting video element using jQuery
    var video = $(".socials");

    // Check if video is ready to play
    $(video).on('canplaythrough', function () {
        $(video).mouseover(function () {
            $(this).get(0).play();
        })
    });
</script>


{% endblock %}