{% extends "base.html" %}

{% block extrajs %} 
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block content %}
<section class="container-fluid landing">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light">
        <div class="container-fluid nav-box">
            <div id="imgHolder" class="container">
                <a class="navbar-brand justify-content-start" href="{{ url_for('home') }}">
                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/nav_logo.png" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('work') }}">Work</a>
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    <a class="nav-link" href="{{ url_for('services') }}">Services</a>
                    <a class="nav-link" href="#footerLink">Contact</a>
                </div>
            </div>
        </div>
      </nav>
</section>

        <div class="elfsight-app-df3c49ec-a697-48d7-8a51-bd8fec4838b9"></div>

        <footer>
            <div id="footerLink" class="container-fluid video video-holder">
                <div class="col-12 contact-holder">
                    <div class="col-10 col-lg-6 contact">
                            <div class="col social-icons">
                                <a class="SendEmail" target="_blank" onclick="OpenEmail" href="">
                                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-email-logo-250px.png" alt="Email Link" class="socials">
                                </a>
                            </div>
                            <div class="col social-icons">
                                <a href="https://www.facebook.com/We-are-collective-1140423542776414" target="_blank" rel="noopener noreferrer">
                                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-fb-logo-250px.png" alt="Facebook Link" class="socials">
                                </a>
                            </div>
                            <div class="col social-icons">
                                <a href="https://www.instagram.com/we.arecollective/" target="_blank" rel="noopener noreferrer">
                                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-logo-250px.png" alt="Insta Link" class="socials">
                                </a> 
                            </div>
                            <div class="col social-icons">
                                <a href="https://www.linkedin.com/company/wearecollective/" target="_blank" rel="noopener noreferrer">
                                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-li-logo-250px.png" alt="Linkedin Link" class="socials">
                                </a>
                            </div>
                            <div class="col social-icons">
                                <a href="tel:+447903595354" target="_blank" rel="noopener noreferrer">
                                    <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/icon-phone-250px.png" alt="Mobile Link" class="socials">
                                </a> 
                            </div>
                    </div>
                </div>
            </div>
        </footer>

{% endblock %}