{% extends "base.html" %}

{% block extrajs %} 
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block content %}
        <section class="container-fluid landing">
            <nav class="navbar fixed-top  navbar-expand-lg navbar-light">
                <div class="container-fluid nav-box">
                    <div id="imgHolder" class="container">
                        <a class="navbar-brand justify-content-start" href="#">
                            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/nav_logo.png" alt="">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                            <a class="nav-link" href="{{ url_for('content_page') }}">Work</a>
                            <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
                            <a class="nav-link" href="{{ url_for('services_page') }}">Services</a>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <div class="elfsight-app-df3c49ec-a697-48d7-8a51-bd8fec4838b9"></div>

        <footer>
            <div class="container-fluid video video-holder">
                <div class="col-12 contact-holder">
                    <div class="col-10 col-lg-6 contact">
                            <div class="col social-icons">
                                <a class="SendEmail" href="#">
                                    <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/Mail_Icon(ScaledDown).mp4#t=0.1" muted playsinline disablePictureInPicture></video>
                                </a>
                            </div>
                            <div class="col social-icons">
                                <a href="#">
                                    <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/FacebookSocial_Icon(ScaledDown).mp4#t=0.1" muted playsinline disablePictureInPicture></video>
                                </a>
                            </div>
                            <div class="col social-icons">
                                <a href="#">
                                    <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/InstaSocial_Icon(ScaledDown).mp4#t=0.1" muted playsinline disablePictureInPicture></video>
                                </a> 
                            </div>
                            <div class="col social-icons">
                                <a href="#"></a>
                                    <video onmouseover="this.play()" class="socials" src="https://wac-version.s3.eu-west-2.amazonaws.com/static/video/LinkedInSocial_Icon(ScaledDown).mp4#t=0.1" muted playsinline disablePictureInPicture></video>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </footer>

<script type="text/javascript">
    $('body').flowtype({
        minimum   : 500,
        maximum   : 1400,
        minFont   : 14,
        maxFont   : 70,
        fontRatio : 70
    });
</script>

{% endblock %}