{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
{% endblock %}

{% block content %} 

<section class="container-fluid landing-video">
    <div class="container-fluid">
        <div class="container-fluid video">
            <div class="ratio ratio-16x9">
                <video src="/static/video/service_logo.mp4" preload="true" muted disablePictureInPicture autoplay loop></video>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid service-info">
    <div class="container-fluid services">
        <div class="col-md-6 logo-holder">
            <img src="/static/images/service_graphic.png" alt="Service Graphic">
        </div>

        <div class="col-md-6 body">
            <div class="col title-holder">
                <h1>what we can offer</h1> <br>
                <h5>wac understands that brands are constantly evolving online and having a visual
                    presence is more important than ever. Everything we produce is at the forefront of
                    digital media. We listen and gain understanding of your brand proposition and
                    produce an effective message delivery. <br /><br />
                    
                    wac can become an extension of your business, a one stop shop for all your
                    content and digital assets. <br /><br />
    
                    We effectively tell your brand story through creative conceptualisation, pre 
                    production & content creation.<br /><br />
    
                    wac has worked on projects that span across, short & long form, on demand and 
                    promotional content.
                </h5>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid testimonial">
    <div class="container-fluid">
        <div class="col-12 title-holder">
            <h1>testimonials</h1>
        </div>
    </div>
    <div class="container-fluid testimonial-holder">
        <div class="col-6 testimonial-carousel">
            <div class="testimonial-view">
                <div id="testimonialCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <div class="testimonial-block">
                                <div class="row">
                                    <div class="col img-holder">
                                        <div class="testimonial-block_user">
                                            <div class="testimonial-block-image">
                                                <img src="/static/images/gorillas_logo_white.png" alt="User">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col txt-holder">
                                        <div class="testimonial-block_content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur repellendus nemo suscipit explicabo veniam similique quaerat vitae!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="testimonial-block">
                                <div class="row">
                                    <div class="col img-holder">
                                        <div class="testimonial-block_user">
                                            <div class="testimonial-block-image">
                                                <img src="/static/images/base.png" alt="User">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col txt-holder">
                                        <div class="testimonial-block_content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur repellendus nemo suscipit explicabo veniam similique quaerat vitae!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="testimonial-block">
                                <div class="row">
                                    <div class="col img-holder">
                                        <div class="testimonial-block_user">
                                            <div class="testimonial-block-image">
                                                <img src="/static/images/base.png" alt="User">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col txt-holder">
                                        <div class="testimonial-block_content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur repellendus nemo suscipit explicabo veniam similique quaerat vitae!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    -->
                </div>
            </div>
        </div>
        <img src="/static/images/testimonial-graphic.png" alt="Testimonial Holder">
    </div>
</section>

<section class="container-fluid work-slide">
    <div class="container text-center my-3">
        <h1 class="projects">View Our Projects</h1>
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item second active">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-img">
                                    <a href="{{ url_for('projects_page') }}"><img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/jamie-slick.jpg" class="img-fluid"></a>
                                </div>
                                <!--<div class="card-img-overlay">Slide 1</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item second">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-img">
                                    <a href="{{ url_for('projects_page') }}"><img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/8greens-slick.jpg" class="img-fluid"></a>
                                </div>
                                <!--<div class="card-img-overlay">Slide 2</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item second">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-img">
                                    <a href="{{ url_for('projects_page') }}"><img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/bxr-slick.jpg" class="img-fluid"></a>
                                </div>
                                <!--<div class="card-img-overlay">Slide 3</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item second">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-img">
                                    <a href="{{ url_for('projects_page') }}"><img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/digme-slick.jpeg" class="img-fluid"></a>
                                </div>
                                <!--<div class="card-img-overlay">Slide 4</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item second">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-img">
                                    <a href="{{ url_for('projects_page') }}"><img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/gorillas-slick.jpg" class="img-fluid"></a>
                                </div>
                                <!--<div class="card-img-overlay">Slide 5</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item second">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-img">
                                    <a href="{{ url_for('projects_page') }}"><img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/suns-slick.jpg" class="img-fluid"></a>
                                </div>
                                <!--<div class="card-img-overlay">Slide 6</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid about-info space">
    <div class="container-fluid info-holder">
        <div class="col-md-6 img-box">
            <img src="https://wac-version.s3.eu-west-2.amazonaws.com/static/images/our_story.jpg" alt="Our Journey" class="info-photo">
        </div>
        <div class="col-md-6 info-box">
                <div class="col body-2">
                    <h1 class="info-title">More Info</h1>
                    <h5>In a nutshell wac is here to amplify and bring your vision to life through
                        the medium of digital content. Our capabailities span across providing
                        assets for social, performance, OOH and BTL imagery. <br /><br />
                        
                        we know what good content looks like and we aren't afraid to say it.
                        wac is formed by a team of expert creatives with years of experience
                        in the digital and advertising space.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

<script type="text/javascript">
    $('body').flowtype({
        minimum   : 500,
        maximum   : 1400,
        minFont   : 14,
        maxFont   : 70,
        fontRatio : 70
    });

    $(document).ready(function(){
        $('#testimonialCarousel').carousel();
        $('#recipeCarousel').carousel();
    })
</script>


{% endblock %}